* {
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 50px 0;
  }
  .card-wrapper {
    width: 300px;
    height: 550px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 8px #888888;
    background-color: #F1F1F1;
  }
  .img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .content-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stat-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  .stat-title {
    padding-bottom: 20px;
  }
  .stat-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* navigation styling */
  nav {
    background-color: coral;
    padding: 20px;
  }
  .nav-item {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  /* start of beauty card */
  .beauty-card {
    width: 600px;
    height: 250px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 8px #000;
    box-sizing: border-box;
    position: relative;
  }
  .beauty-card::before {
    content: "";
    background-image: url('img/beauty.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .left-container ul {
    list-style: none;
  }
  .left-container ul li {
    margin-bottom: 5px;
  }
  .left-container h2 {
    margin-bottom: 10px;
  }
  .left-container h3 {
    margin-bottom: 5px;
  }
  .right-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right-container h1{
    margin-bottom: 15px;
  }
  .beauty-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }